* {
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
}
.container {
    max-width: 1194px;
    margin: auto;
}
.header {
    display: flex;
    align-items: center;
    padding: 10px 0;
}
.search-form {
    margin-left: 76px;
    background: rgba(238, 238, 238, 0.71);
    border-radius: 10px;
    display: flex;
    max-width: 620px;
    flex-grow: 1;
    position: relative;
}
.search-input {
    background-color: transparent;
    border: none;
    width: 100%;
    padding: 20px 13px;
}
.search-button {
    background-color: transparent;
    border: none;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    padding: 0 18px;
    cursor: pointer;
}
.auth {
    margin-left: auto;
}
.login {
    background: #EBEBEB;
    border-radius: 50px;
    padding: 16px 30px;
    display: block;
    text-decoration: none;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
}
.shopping-cart {
    position: relative;
    width: 49px;
    height: 49px;
    border-radius: 50%;
    background: #F66A15;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 30px;
    text-decoration: none;
}
.shopping-counter {
    position: absolute;
    right: 0;
    bottom: 0;
    background: #FFAF19;
    color: #000000;
    border-radius: 50%;
    font-size: 8px;
    line-height: 9px;
    text-decoration: none;
    display: block;
    padding: 4px;
}
.slide {
    position: relative;
    border-radius: 20px;
    overflow: hidden;
    min-height: 400px;
    display: flex;
    align-items: center;
    padding: 100px;
}
.slide-text-light {
    background-color: grey;
    color: #fff;
}
.slide-content {
    max-width: 400px;
    position: relative;
}
.slide-title {
    margin-top: 0;
    margin-bottom: 15px;
    font-weight: bold;
    font-size: 50px;
    line-height: 51px;
}
.slide-text {
    font-weight: bold;
    font-size: 16px;
    line-height: 23px;
    margin-bottom: 30px;
}
.button {
    border-radius: 25px;
    font-weight: 500;
    font-size: 14px;
    font-style: normal;
    line-height: 23px;
    display: inline-block;
    text-decoration: none;
}
.button-primary {
    background: #F47322;
    color: #fff;
    padding: 13px 52px;
}
.button-default {
    background: #FFFFFF;
    color: #5F5F61;
    padding: 13px 52px;
}
.slide-summer {
    background: url('../img/summer.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.slide:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.43) 40.45%, rgba(0, 0, 0, 0) 100%);
}
.promo {
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    justify-content: space-between;
    margin: -20px;
}
.card {
    flex: 50%;
    margin: 20px;
    position: relative;
    border-radius: 20px;
    overflow: hidden;
    padding: 32px;
    max-width: 570px;
    min-height: 380px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}
.card-text-light {
    color: #fff;
}
.card:before {
    z-index: -1;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
}
.card-title {
    font-weight: 500;
    font-size: 24px;
    line-height: 23px;
    margin-top: 4px;
    margin-bottom: 21px;
}
.card-description {
    font-weight: 500;
    font-size: 16px;
    line-height: 23px;
    max-width: 200px;
}
.card-price {
    display: block;
    font-weight: 500;
    font-size: 24px;
    line-height: 23px;
    margin-bottom: 8px;
}
.card-delivery {
    display: block;
    font-weight: 500;
    font-size: 16px;
    line-height: 23px;
    margin-bottom: 25px;
}
.sweet-basket {
    background-image: url("../img/sweet-basket.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.minimum-effort {
    background-image: url("../img/minimum-effort.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.card-image {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
    object-fit: cover;
} 
.section-title {
    font-weight: 500;
    font-size: 32px;
    line-height: 23px;
    margin-top: 0;
    margin-bottom: 47px;
}
.delivery-week {
    padding: 100px 0px;
}
.delivery-cards {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
}
.delivery-card {
    position: relative;
    width: 275px;
    height: 182px;
    border-radius: 18px;
    overflow: hidden;
    margin: 15px;
    cursor: pointer;
}
.delivery-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.delivery-tag {
    position: absolute;
    left: 10px;
    top: 16px;
    border-radius: 30px;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #49494f;
    padding: 5px 10px; 
}
.tag-health {
    background-color: #D0FD89;
}
.tag-vegetable {
    background-color: #AEBC41;
    color: #FFFFFF;
}
.tag-meat {
    background-color: #B86B78;
    color: #FFFFFF;
}
.tag-bird {
    background-color: #D68334;
    color: #FFFFFF;
}
.tag-fish {
    background-color: #CD6255;
    color: #FFFFFF;
}
.tag-children {
    background-color: #FFFDBF;
}
.tag-parents {
    background-color: #F6FDC8;
}
.tag-holiday {
    background-color: #FEF7FE;
}
.section-grey {
    background-color: #F6F6F6;
}
.category {
    padding-top: 40px;
    padding-bottom: 60px;
}
.advantage {
    padding-top: 109px;
    padding-bottom: 200px;
}
.tabs {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    margin-bottom: 62px;
}
.tabs-item {
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
}
.tabs-link {
    text-decoration: none;
    color: #49494F;
    font-size: 20px;
    line-height: 23px;
    margin-right: 58px;
}
.active {
    color: #F37321;
}
.tabs-content {
    display: flex;
    justify-content: space-between;
}
.tabs-card {
    max-width: 270px;
    box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    border-radius: 20px;
    background-color: #fff;
}
.advantage-content {
    display: flex;
    justify-content: space-between;
}
.advantage-card {
    max-width: 270px;
    box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    border-radius: 20px;
    background-color: #fff; 
    text-align: center;
}
.tabs-card-content {
    padding: 23px;
}
.advantage-card-content {
    padding: 36px 34px 25px 34px;
}
.advantage-img {
    max-width: 100%;
    margin-top: 30px;
}
.tabs-img {
    max-width: 100%;
}
.tabs-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    margin-top: 0;
    margin-bottom: 13px;
}
.advantage-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 23px;
    color: #000000;
    margin: 0;
}
.tabs-description {
    font-weight: 500;
    font-size: 14px;
    line-height: 23px;
    color: #B9B9BE;
    margin-bottom: 36px;
}
.advantage-description {
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    color: #49494F;
    margin: 0;
    margin-top: 13px;
}
.tabs-info {
    display: flex;
    justify-content: space-between;
}
.tabs-good {
    display: flex;
    flex-direction: column;
}
.tabs-price {
    font-weight: 500;
    font-size: 23px;
    line-height: 23px;
    color: #4B4B51;
    display: block;
    margin-bottom: 5px;
}
.tabs-weight {
    font-weight: 500;
    font-size: 17px;
    line-height: 20px;
    color: #AAAAB1;
}
.button-outline {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #F37321;
    border: 2px solid #F37321;
    box-sizing: border-box;
    border-radius: 33px;
    padding: 13px 20px;
    background-color: transparent;
    outline: none;
    cursor: pointer;
}
.button-center {
    display: block;
    margin: auto;
    margin-top: 60px;
    width: 315px;
}
.footer {
    padding: 40px 0;
    background: #F6F6F6;
}
.footer-wrapper {
    display: flex;
    align-items: center;
}
.footer-logo {
    margin-right: 50px;
}
.footer-nav {

}
.footer-social {
    display: flex;
    align-items: center;
    margin-left: auto;
}
.social-link {
    text-decoration: none;
    margin-left: 20px;
}
.footer-link {
    color: #000000;
    line-height: 23px;
    margin-right: 50px;
    font-size: 16px;
}